body {
  margin: 0;
  min-width: min-height: 100vh;
  background-color: color: whitesmoke;
}

#radio {
  display: none;
}}

#radio {
  display: none;
}

.speed {
  border: 1px dotted silver;
  margin: 4px;
  padding: 6px 0;
  font-weight: bold;
  width: fit-content;
}
